{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "search_title"|capfirst %}
{% endblock title %}

{% block content %}
{% get_media_prefix as media %}
<section class="search" data-media-url="{% get_media_prefix %}">
  <div class="search__body _container">
    <h1>{% trans "search_title"|capfirst %}</h1>
    <div class="section__content search__content">
      <ul class="search__items items">
        <li class="search__item item">
          <div class="search__wrapper">
            <div class="search__label">
              <label for="">игроки</label>
            </div>
            {% if users %}
            <div class="search__table">
              <table cellspacing="0" class="search-table table">
                <tr class="table__row table_header">
                  <th class="table__header row_num">
                    №
                  </th>
                  <th class="table__header">
                    Игрок
                  </th>
                </tr>
                {% for user in users %}
                  <tr class="table__row">
                    <td class="table__data row_num">
                    </td>
                    <td class="table__data table_data">
                      <div class="table__content">
                        <div class="table__thumb">
                          {% if user.avatar %}
                          <img src="{{ user.get_image_preview_x100.url }}" alt="{% trans 'avatar_img'|capfirst %}">
                          {% else %}
                          <img src="{% static 'img/default/avatar.svg' %}" alt="{% trans 'default_avatar_img'|capfirst %}">
                          {% endif %}
                        </div>
                        <a href="{% url 'users:profile' pk=user.id %}" class="table__text color_blue">
                          {{ user.username }}
                        </a>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
            {% else %}
            <div class="search__null users_null">
              Нет пользователей
            </div>
            {% endif %}
          </div>
        </li>
        <li class="search__item item">
          <div class="search__wrapper">
            <div class="search__label">
              <label for="">команды</label>
            </div>
            {% if teams %}
            <div class="search__table">
              <table cellspacing="0" class="search-table table">
                <tr class="table__row table_header">
                  <th class="table__header row_num">
                    №
                  </th>
                  <th class="table__header">
                    Команда
                  </th>
                </tr>
                {% for team in teams %}
                <tr class="table__row">
                  <td class="table__data row_num">
                  </td>
                  <td class="table__data table_data">
                    <div class="table__content">
                      <div class="table__thumb">
                        {% if team.avatar %}
                        <img src="{{ team.get_image_preview_x100.url }}" alt="{% trans 'avatar_img'|capfirst %}">
                        {% else %}
                        <img src="{% static 'img/default/team.svg' %}" alt="{% trans 'default_team_img'|capfirst %}">
                        {% endif %}
                      </div>
                      <a href="{% url 'streetsport:team' pk=team.id %}" class="table__text color_blue">
                        {{ team.title }}
                      </a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
            {% else %}
            <div class="search__null teams_null">
              Нет команд
            </div>
            {% endif %}
          </div>
        </li>

      </ul>
    </div>
  </div>
</section>
{% endblock content %}