{% extends "base.html" %}
{% load i18n %}


{% block title %}
  {% trans "feedback_title"|capfirst %}
{% endblock title %}

{% block content %}
<section class="feedback">
  <div class="feedback__body _container">
    <h1>{% trans "feedback_title"|capfirst %}</h1>
    <div class="section__content feedback__content">
      <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      
        {% include "includes/form.html" %}
      
        {% include "includes/submit_btn.html" with value="Отправить" %}
      
      </form>
    </div>
  </div>
</section>
{% endblock content %}