.btn_filter_close .btn{
    background: none;
    padding-left: 30px;
}

.btn_filter_close .btn::before{
    content: url(../../../img/icons/close.svg);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.modals,
.modal{
    display: none;

}
.modal._active {display: block;}
.modals._active{
    display: flex;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0,0,.2);
    justify-content: center;
    align-items: center;
}
.modal{
    background: white;
    max-width: 800px;
    padding: 20px;
    width: 100%;
}
.filters__items{
    gap: 5px;
    flex-wrap: wrap;
}
.filter{
    padding: 8px 10px;
    padding-right: 30px;
    background: var(--color-blue);
    color: white;
    text-transform: lowercase;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    border-radius: 20px;
    position: relative;
    white-space: nowrap;
    user-select: none;
}
.filter::before{
    content: url(../../../img/icons/cancel.svg);
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    position: absolute;
}
.filter.filter_link::before{
    content: url(../../../img/icons/link.svg);
}
.available_filters .filter::before{
    content: url(../../../img/icons/add_filter.svg);
}
.filter-field label{
    margin: 0;
    margin-top: 8px;
    font-family: var(--roboto-regular);
}
.form__filters{
    display: flex;
    gap: 5px;
}
.filter__fields{
    margin-top: 10px;
}
.filter__field{
    margin-bottom: 10px;
    display: flex;
    gap: 5px;
}
.modal_form__button{
    width: 100%;
    justify-content: end;
}

.filter-field__wrapper{
    position: relative;
    width: 100%;
}
.filter-field__wrapper input.form__input {
    padding-right: 50px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}
.filter-field__searchicon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}