
.matches__items{
    flex-direction: column;
    gap: 20px;
}

.matches__item{
    flex: 0 1 100%;
}

.matches__wrapper{
    width: 100%;
}
.matches__cart{
    display: flex;
    margin-top: 10px;
}
.match__link{
    flex: 1 1 auto;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-blue);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    gap: 10px;
}
.match__link-wrapper{
    transition: all .1s ease 0s;
    transform: translateX(-100px);
}
.match__link span{
    position: relative;
}

.match{
    position: relative;
    display: flex;
    max-width: 900px;
}
.team-one{
    background: var(--color-red);
}
.team-two{
    background: var(--color-orange);
}
.matches__datetime{
    font-size: 40px;
    font-family: var(--roboto-light);
    line-height: 100%;
}
.match-team {
    flex: 0 1 50%;
    padding: 5px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.match__content{
    display: flex;
    flex-direction: column;
    padding: 10px 15px 15px;
}
.team-two .match__content{
    align-items: end;
}
.team-teammate__item{
    width: 60px;
    height: 60px;
    padding: 3px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    position: relative;
}

.teammates_count .team-teammate__item{
    background: transparent;
    width: auto;
}
.team-teammate__img{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;

}
.team-teammate__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-teammates__item:not(:first-child){
    margin-left: -20px;
}
.team-teammates__item.teammates_count{
    margin: 0;
    font-family: var(--roboto-medium);
    font-size: 32px;
    line-height: 100%;
    color: white;
}

.match-team__title{
    font-family: var(--roboto-bold);
    color: white;
    font-size: 48px;
    line-height: 100%;
}
.match-team__teammates{
    margin-top: 15px;
}

.match-team__img{
    position: relative;
    flex: 1 1 auto;
}

.match-team__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.match-team__img-default{
    padding: 15px 15px 0;
    opacity: .1;
}
.match__center{
    z-index: 5;
    position: absolute;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.match-decor__line{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    width: 10px;
    height: 100%;
}

.match-decor__vs{

}
.match-vs{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    border-radius: 50%;
    transform: translate(-50%, -50%);

}
.match-vs__wrapper{
    padding: 20px;
    z-index: 10;
    width: 100%;
    aspect-ratio: 1 / 1;
    background: white;
    border-radius: 50%;

    font-size: 128px;
    line-height: 100%;
    font-family: var(--righteous-regular);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.match-decor__game{
    margin-top: 25px;
}
.match-game{
    position: relative;
    z-index: 11;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 8px 20px;
    background: white;
    border-radius: 20px;
}
.match-game__wrapper{
    font-family: var(--roboto-bold);
    font-size: 24px;
    line-height: 100%;
    color: black;
}
.match-game__img{
    width: 24px;
    height: 24px;

}
.match-game__img img{
    width: 100%;
    object-fit: cover;

}
.team-one .team-teammate__img{
    background: var(--color-red);
}
.team-two .team-teammate__img{
    background: var(--color-orange);
}
.matches__filter-btn{
    margin-left: 20px;
    margin-right: auto;
}
.btn.filter_btn{
    background: var(--color-gray);
    color: black;
    padding: 10px 20px;
    padding-left: 50px;
    border-radius: 20px;
    position: relative;
}
.btn.filter_btn::before{
    content: url(../../../img/icons/filter.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.btn_order_create .btn::before{
    content: url(../../../img/icons/add.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}