{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "homepage_title"|capfirst %}
{% endblock title %}

{% block content %}
{% get_media_prefix as media %}
<section class="matches" data-media-url="{% get_media_prefix %}">
  <div class="matches__body _container">
    <h1>{% trans "homepage_title"|capfirst %}</h1>
    <div class="section__content matches__content">
      <ul class="matches__items items">
        {% for order in orders %}
          <li class="matches__item item">
            <div class="matches__wrapper">
              <div class="matches__datetime">
                <span class="text_bold">{{ order.start|date:"H:i" }}</span>, {{ order.start|date:"d.m.Y" }}
              </div>
              <a href="{# url 'streetsport:order' 1 #}" class="matches__cart">

                {% include 'includes/game_order.html' %}
                <div class="match__link">
                  <div class="match__link-wrapper">
                    <span>{% trans "viewmore"|lower %}</span>
                    <img src="{% static 'img/icons/arrow.svg' %}" alt="">
                  </div>
                </div>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endblock content %}