{% load i18n %}

{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {{ error|escape }}
    </div>
  {% endfor %}
{% endif %}


{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

  
{% for field in form.visible_fields %}
<div class="form__field">
  {{ field.label_tag}}
  {{ field }}

  {% if 'file' in field.widget_type %}
  <label class="form__field-wrapper" for="{{ field.auto_id }}">
    <div class="form__field-button">Выберите файлы:</div>
    <div class="form__field-content">Файл не выбран</div>
  </label>
  {% endif %}

  {% if form.is_bound and field.errors %}
    {% for error in field.errors %}
    <div class="invalid-feedback d-block">
      {{ error|escape }}
    </div>
    {% endfor %}
  {% endif %}

  {% if field.help_text and False %}
    <div class="form-text">{{ field.help_text }}</div>
  {% endif %}
</div>
{% endfor %}

