{% load static %}
{% load i18n %}
<article class="matches__match match">
	<div class="match__left match-team team-one">
		<div class="match-team__img">
			{% if order.team_one.avatar %}
			<img src="{{ order.team_one.get_image_preview_400x300.url }}" alt="{% trans 'team_img'|capfirst %}">
			{% else %}
			<div class="match-team__img-default">
				<img src="{% static 'img/default/team.svg' %}" alt="{% trans 'default_team_img'|capfirst %}">
			</div>
			{% endif %}
		</div>
		<div class="match__content">
			<div class="match-team__title">
				{{ order.team_one.title }}
			</div>
			<div class="match-team__teammates team-teammates">
				<ul class="team-teammates__items items">
					<li class="team-teammates__item item team-teammate">
						<div class="team-teammate__item">
							<div class="team-teammate__img">
								{% if order.team_one.lead.avatar %}
								<img src="{{ order.team_one.lead.get_image_preview_x100.url }}" alt="{% trans 'avatar_img'|capfirst %}">
								{% else %}
								<img src="{% static 'img/default/avatar.svg' %}" alt="{% trans 'default_avatar_img'|capfirst %}">
								{% endif %}
							</div>
						</div>
					</li>
					{% with team_teammates=order.team_one.teammates.all %}
						{% for teammate in team_teammates|slice:":2" %}
							<li class="team-teammates__item item team-teammate">
								<div class="team-teammate__item">
									<div class="team-teammate__img">
										{% if teammate.avatar %}
										<img src="{{ teammate.get_image_preview_x100.url }}" alt="{% trans 'avatar_img'|capfirst %}">
										{% else %}
										<img src="{% static 'img/default/avatar.png' %}" alt="{% trans 'default_avatar_img'|capfirst %}">
										{% endif %}
									</div>
								</div>
							</li>
						{% endfor %}
						{% if team_teammates|length|add:"-2" > 0 %}
						<li class="team-teammates__item item teammates_count">
							<div class="team-teammate__item">
								+{{ team_teammates|length|add:"-2" }}
							</div>
						</li>
						{% endif %}

					{% endwith %}
				</ul>
			</div>
		</div>
	</div>
	<div class="match__center match-decor">
		<div class="match-decor__game match-game">
			<div class="match-game__img">
				{% if order.game.icon %}
				<img src="{{ order.game.get_image_preview_x50.url }}" alt="match_game">
				{% else %}
				<img src="{% static 'img/default/sports.png' %}" alt="default_match_game">
				{% endif %}
			</div>
			<div class="match-game__wrapper">
				{{ order.game.title|capfirst }}
			</div>
		</div>
		<div class="match-decor__vs match-vs">
			<div class="match-vs__wrapper">
				VS
			</div>
		</div>
		<span class="match-decor__line"></span>
	</div>
	<div class="match__right match-team team-two">
		<div class="match-team__img">
			{% if order.team_two.avatar %}
			<img src="{{ order.team_two.get_image_preview_400x300.url }}" alt="{% trans 'team_img'|capfirst %}">
			{% else %}
			<div class="match-team__img-default">
				<img src="{% static 'img/default/team.svg' %}" alt="{% trans 'default_team_img'|capfirst %}">
			</div>
			{% endif %}
		</div>
		<div class="match__content">
			<div class="match-team__title">
				{{ order.team_two.title }}
			</div>
			<div class="match-team__teammates team-teammates">
				<ul class="team-teammates__items items">
					<li class="team-teammates__item item team-teammate">
						<div class="team-teammate__item">
							<div class="team-teammate__img">
								{% if order.team_two.lead.avatar %}
								<img src="{{ order.team_two.lead.get_image_preview_x100.url }}" alt="{% trans 'avatar_img'|capfirst %}">
								{% else %}
								<img src="{% static 'img/default/avatar.png' %}" alt="{% trans 'default_avatar_img'|capfirst %}">
								{% endif %}
							</div>
						</div>
					</li>
					{% with team_teammates=order.team_two.teammates.all %}
						{% for teammate in team_teammates|slice:":2" %}
							<li class="team-teammates__item item team-teammate">
								<div class="team-teammate__item">
									<div class="team-teammate__img">
										{% if teammate.avatar %}
										<img src="{{ teammate.get_image_preview_x100.url }}" alt="{% trans 'avatar_img'|capfirst %}">
										{% else %}
										<img src="{% static 'img/default/avatar.png' %}" alt="{% trans 'default_avatar_img'|capfirst %}">
										{% endif %}
									</div>
								</div>
							</li>
						{% endfor %}
						{% if team_teammates|length|add:"-2" > 0 %}
						<li class="team-teammates__item item teammates_count">
							<div class="team-teammate__item">
								+{{ team_teammates|length|add:"-2" }}
							</div>
						</li>
						{% endif %}

					{% endwith %}
				</ul>
			</div>
		</div>
	</div>
</article>