{% load static %}
{% load i18n %}

<header>
  <div class="header__body _container">
    <div class="header__content">
      <a href="{% url 'homepage:main' %}" class="header__logo">
        <span class="color_red">Street</span> Спорт
      </a>
      <nav class="header__navbar navbar">
        <ul class="navbar__items items">
          <li class="navbar__item item">
            <a class="navbar__link {% if view_name == 'homepage:main' %}_active{% endif %}" href="{% url 'homepage:main' %}">
              {% trans "main"|capfirst %}
            </a>
          </li>
          <li class="navbar__item item">
            <a class="navbar__link {% if view_name == 'streetsport:orders' %}_active{% endif %}" href="{% url 'streetsport:orders' %}">
              {% trans "games"|capfirst %}
            </a>
          </li>
          <li class="navbar__item item">
            <a class="navbar__link {% if view_name == 'streetsport:leaderboard' %}_active{% endif %}" href="{% url 'streetsport:leaderboard' %}">
              {% trans "leaderboard"|capfirst %}
            </a>
          </li>
          <li class="navbar__item item">
            <a class="navbar__link {% if view_name == 'users:profile' %}active{% endif %}" href="{% url 'users:profile' %}">
              {% trans "profile"|capfirst %}
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>