{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "profile_title"|capfirst %}
{% endblock title %}

{% block content %}
{% get_media_prefix as media %}
<section class="profile" data-media-url="{% get_media_prefix %}">
  <div class="matches__body _container">
    <div class="section__title">
      <h1>
        {% trans "profile_title"|capfirst %}
      </h1>
      {% if request.user == user %}
      <div class="section__title-btns">
        <div class="section__title-btn btn_logout icon_btn">
          {% url 'users:logout' as url %}
          {% include 'includes/btn.html' with value='Выйти' url=url %}
        </div>
        <div class="section__title-btn btn_delete">
          {% url 'users:user-delete' as url %}
          {% include 'includes/btn.html' with value='Удалить аккаунт' url=url %}
        </div>
        <div class="section__title-btn btn_edit icon_btn">
          {% url 'users:profile-edit' as url %}
          {% include 'includes/btn.html' with value='Редактировать' url=url %}
        </div>
      </div>
      {% endif %}
    </div>
    <div class="section__content profile__content">
      <div class="profile__wrapper info_wrapper">
        <div class="profile__map info_img">
          {% if user.avatar %}
            <img src="{{ user.get_image_preview_x1000.url }}" alt="{% trans 'avatar_img'|capfirst %}">
          {% else %}
            <img src="{% static 'img/default/avatar.svg' %}" alt="{% trans 'default_avatar_img'|capfirst %}">
          {% endif %}
          <div class="profile__tabs tabs">
            <ul class="tabs__items items">
              <li class="tabs__item item">
                <a href="{% url 'leaderboard:users' %}" class="tab single_top">
                  <div class="tab__wrapper">
                    <div class="tab__title">
                      single top
                    </div>
                    <div class="tab__content">
                      <div class="tab__text filter_link filter">
                        {% if user_top %}
                          #{{ user_top }}
                        {% else %}
                          -
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              {% if user.team %}
              <li class="tabs__item item">
                <a href="{% url 'leaderboard:teams' %}" class="tab team_top">
                  <div class="tab__wrapper">
                    <div class="tab__title">
                      team top
                    </div>
                    <div class="tab__content">
                      <div class="tab__text filter_link filter">
                        {% if team_top %}
                          #{{ team_top }}
                        {% else %}
                          -
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li class="tabs__item item">
                <a href="{% url 'streetsport:team' 1 %}" class="tab team_tab">
                  <div class="tab__wrapper">
                    <div class="tab__title">
                      team
                    </div>
                    <div class="tab__content">
                      <div class="tab__text filter_link filter">
                        {{ user.team.title }}
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="profile__info info_content">
          <div class="profile__field form__field info_field">
            <label for="">ник</label>
            <div class="profile__description info_text">
              {{ user.username }}
            </div>
          </div>
          <div class="profile__field form__field info_field">
            <label for="">почта</label>
            {% if user.first_name %}
              <a href="mailto:{{ user.email }}" class="profile__description info_text color_blue">
                {{ user.email }}
              </a>
            {% else %}
              -
            {% endif %}
          </div>
          <div class="profile__field form__field info_field">
            <label for="">имя</label>
            <div class="profile__description info_text">
              {% if user.first_name %}
                {{ user.first_name }}
              {% else %}
                -
              {% endif %}
            </div>
          </div>
          <div class="profile__field form__field info_field">
            <label for="">фамилия</label>
            <div class="profile__description info_text">
              {% if user.last_name %}
                {{ user.last_name }}
              {% else %}
                -
              {% endif %}
            </div>
          </div>
          <div class="profile__field form__field info_field">
            <label for="">день рождения</label>
            <div class="profile__description info_text">
              {% if user.birthday %}
                {{ user.birthday }}
              {% else %}
                -
              {% endif %}
            </div>
          </div>
          <div class="profile__field form__field info_field">
            <label for="">о себе</label>
            <div class="profile__description info_text">
              {% if user.bio %}
                {{ user.bio }}
              {% else %}
                -
              {% endif %}
            </div>
          </div>
          <div class="profile__field form__field info_field">
            <label for="">Telegram</label>
              {% if user.tg_link %}
                <a href="https://{{ user.tg_link }}" class="profile__description info_text color_blue">
                  {{ user.tg_link }}
                </a>
              {% else %}
                -
              {% endif %}
          </div>
          {% if request.user.is_authenticated %}
            {% if user.team and user != request.user%}
            <div class="profile__field form__field info_field">
              <div class="section__title-btn btn_add icon_btn">
                {% url 'streetsport:team-add' pk=user.id as url %}
                {% include 'includes/btn.html' with value='Пригласить в команду' url=url %}
              </div>
            </div>
            {% endif %}
            {% if not user.team and request.user == user %}
            <div class="profile__field form__field info_field">
              <div class="section__title-btn">
                {% url 'streetsport:team-create' as url %}
                {% include 'includes/btn.html' with value='Создать команду' url=url %}
              </div>
            </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}