{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "leaderboard_title"|capfirst %}
{% endblock title %}

{% block content %}
{% get_media_prefix as media %}
<section class="leaderboard" data-media-url="{% get_media_prefix %}">
  <div class="leaderboard__body _container">
    <div class="section__title">
      <h1>{% trans "leaderboard_title"|capfirst %}</h1>
      <select name="leaderboard" id="leaderboard" class="leaderboard__select filter_leaderboard filter_link filter">
        <option value="{% url 'leaderboard:users' %}">Игроки</option>
        <option value="{% url 'leaderboard:teams' %}" selected>Команды</option>
      </select>
    </div>
    <div class="section__content leaderboard__content">
      <div class="leaderboard__wrapper leaderboard_item teams_leaderboard">
        <div class="leaderboard__table">
          <table cellspacing="0" class="leaderboard-table table">
            <tr class="table__row table_header">
              <th class="table__header row_num">
                №
              </th>
              <th class="table__header team_header">
                Команда
              </th>
              <th class="table__header">
                побед
              </th>
              <th class="table__header">
                последняя игра
              </th>
              <th class="table__header">
                игра
              </th>
            </tr>
            {% for team in teams %}
            <tr class="table__row">
              <td class="table__data row_num">
              </td>
              <td class="table__data table_data">
                <div class="table__content">
                  <div class="table__thumb">
                    {% if team.avatar %}
                    <img src="{{ team.get_image_preview_x100.url }}" alt="{% trans 'avatar_img'|capfirst %}">
                    {% else %}
                    <img src="{% static 'img/default/team.svg' %}" alt="{% trans 'default_team_img'|capfirst %}">
                    {% endif %}
                  </div>
                  <a href="{% url 'streetsport:team' pk=team.id %}" class="table__text color_blue">
                    {{ team.title }}
                  </a>
                </div>
              </td>
              <td class="table__data">
                <div class="table__content">
                  {{ team.rating }}
                </div>
              </td>
              <td class="table__data">
                <div class="table__content">
                  {% if false %}
                  <a href="{% url 'streetsport:order' pk=1 %}" class="table__text color_blue">
                    team.title
                  </a>
                  {% else %}
                  -
                  {% endif %}
                </div>
              </td>
              <td class="table__data">
                <div class="table__content">
                  <div class="match-decor__game match-game leaderboard_game">
                    <div class="match-game__img">
                      {% if team.game.icon %}
                      <img src="{{ team.game.get_image_preview_x50.url }}" alt="match_game">
                      {% else %}
                      <img src="{% static 'img/default/sports.png' %}" alt="default_match_game">
                      {% endif %}
                    </div>
                    <div class="match-game__wrapper">
                      {{ team.game.title|capfirst }}
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}